<title>Page1</title>
<style>
  body {
  background-color: lightblue;}
  #first {
    margin: 400px;
    border: 1px solid #000000;
    border-radius: 2px;
    padding: 25px;
  }
  .second {
    margin: 200px;
    border: 1px solid #000000;
    border-radius: 2px;
    padding: 25px;
  }
  p {
    margin: 100px;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 50px;
  }
</style>
